@charset 'utf-8';

body { overflow: visible; }

// Common
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.pull-left { float: left; }
.pull-right { float: right; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.hidden_txt {
	font-size: 0 !important;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cursor_default { cursor: auto !important; }

// Text
.txt_bold { font-weight: 700; }
.txt_underline { text-decoration: underline !important; }


@media print {
	.print_hidden { display: none !important; }
}

@mixin clearfix() {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@font-face {
  font-family: 'Dokdo';
  src: local('독도'),
       url('~@/assets/fonts/Dokdo-Regular.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Gugi';
  src: local('구기'),
       url('~@/assets/fonts/Gugi-Regular.ttf') format('truetype');
  font-weight: 300;
}
